@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

/*div container to hold the content in the center of the page*/
.container {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}
.hero {
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
    
}

.hero__text {
    width: 60%;
}

hero p{
    margin-bottom: 3em;
}


/*Section classes to set padding and background color*/
.three-col{
    padding: 3em 0;
}
.two-col{
    background-color: #136c72;
    color: #fff;
    padding: 3em 0;
}
.accent-text { /*more reusable style*/
    color: #87629a
}



h1 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #147dad;
    padding: .5em 1.5em;
    border-radius: 100px;
    color: #fff;
}

.btn:hover,
.btn:focus {
    background-color: #1c96cf;
}

/*div col to hold the content*/.col{
    margin: 10px;
    width: 100%;
    justify-content: center;
}

.col + .col {
    margin-left: 30px;
}


/*div row to create the display flex*/
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* gap: 30px; */

}
