@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}
.hero {
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
    
}
.hero-2 h1 {
    color: #87629A;
}

.hero-3 {
    padding: 100px 0;
    background-color: #136C72;
    color: #fff;
    
}

.hero__text {
    width: 60%;
}

hero p{
    margin-bottom: 3em;
}

h1 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #147dad;
    padding: .5em 1.5em;
    border-radius: 100px;
    color: #fff;
}

.btn:hover,
.btn:focus {
    background-color: #1c96cf;
}

.col{
    /* margin: 30px; */
    width: 100%;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;

}
